.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.formContainer input {
  padding: 1.4rem 1.3rem;
  border-radius: 1.5rem;
  border: none;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 1.6rem;
}

.formContainer button {
  padding: 1.2rem;
  font-family: inherit;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  border-radius: 1.5rem;
  outline: none;
  border: 2px solid #55a3f0;
  background-color: #55a3f0;
  cursor: pointer;
}
.formContainer button:hover {
  color: #55a3f0;
  background-color: #fff;
  border: 2px solid #55a3f0;
  transition: all 0.3s ease-in-out;
}

.registerLink {
  display: inline-block;
  text-decoration: none;
  color: #55a3f0;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.registerLink:hover {
  border-bottom: 1px solid #55a3f0;
}

.error {
  min-height: 1.6rem;
  color: #f43f5e;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}
