.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 1rem;
}

.container button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #55a3f0;
  font-size: 1.6rem;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}
