.mainContainer {
  /* width: 1140px; */
  margin: 5.5rem auto 0;
  padding: 1rem;
  color: #282828;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title span {
  font-size: 3rem;
  height: 30px;
}

.title h2 {
  font-size: 2.4rem;
}

.header > button {
  padding: 1rem 1.5rem;
  background-color: #55a3f0;
  color: #fff;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 10px;
}

.table {
  margin-top: 2rem;
  width: 100%;
  border: 1px solid #e2ded3;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table thead {
  display: block;
  background-color: #efefef;
  font-size: 1.4rem;
}

.table thead th {
  padding: 2rem 4rem;
  text-align: right;
}

.table tbody {
  display: block;
  height: 400px;
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
}

.table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table tbody td {
  height: 50px;
  border-bottom: 1px solid #e2ded3;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: right;
  padding: 1rem 4rem;
  background-color: #fff;
}

.btns {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.editBtn {
  color: #4ade80;
  font-size: 20px;
  cursor: pointer;
}

.delBtn {
  color: #f43f5e;
  font-size: 20px;
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.errorMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  min-width: fit-content;
  margin: 6rem auto;
  height: 150px;
  color: #f43f5e;
}

.errorMsg span {
  font-size: 4rem;
  height: 40px;
}

.errorMsg p {
  font-size: 2rem;
  font-weight: 700;
}
