.mainContainer {
  width: 1140px;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title span {
  font-size: 3rem;
  height: 30px;
}

.title h2 {
  font-size: 2.4rem;
}

.header button {
  padding: 1rem 1.5rem;
  background-color: #55a3f0;
  color: #fff;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 10px;
}
