* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Vazirmatn", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  --toastify-font-family: "Vazirmatn";
}
html {
  font-size: 62.5%;
}

body {
  margin: auto;
  padding: 10px;
  max-width: 1200px;
  min-height: 100vh;
  background-color: #f5f3f391;
}

.Toastify__toast {
  font-size: 1.5rem !important;
  font-family: inherit;
  color: #2c2c2c;
  border-radius: 8px;
}
